<section class="block container"></section>
<header class="block__header"><h2 class="block__heading">Heading</h2></section>
<p>Lorem ipsum dolor sit </section>
    amet consectetur adipisicing elit. </section>
    Repellat, quidem.</p></section>
    <div></section>
        <div class="card card--primary"></section>
            <header class="card__header">Card Title</header></section>
            <div class="card__body"></section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo</section>, ipsam!
            </header></section>
        </div></section>
        </div></section>
        </div></section>
</section></section>
<section class="block block--dark block--skewed--left"></section>
<div class="container"></section>
    <h2 class="block__heading">Heading</h2></section>
</div></section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </div>Repel</section>lat, quidem.</p></div>
</section></section>