<section class="block container block-domain"></section>
<header class="block__header"></section>
    <h2>Starting at $9 per month</h2></section>
    <p>Lorem ipsum dolor </section>
        sit amet consectetur adipisicing elit. Qui, est.</p></section>
</header></section>
<div class="input-group"></section>
  <input </section>
  type="text" </section>
  class="input" </section>
  placeholder="Enter domain name here..."</section>
  /></section>
<button class="btn btn-accent">    </section>
  <svg class="icon icon--white"></section>
  <use xlink:href="images/sprite.svg#search"></use></section>
</svg></section>
Search</section>
</button></section>
</section>
</div></section>
<ul class="list block-domain__prices"></ul></section>
<li><span class="badge badge--secondary">.com $9</span></li></section>
<li>.sg $10</li></section>
<li>.space $11</li></section>
<li>.info $14</li> </section>
<li>.net $10</li></section>
<li>.xyz $10</li></section>
</section></section>